Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

feat: ログインをEnterキーでできるようにした
  web/teacher/src/components/templates/TheSignIn.vue
Due: teacher-web

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/subject_test.go
Due: api

feat(gateway): implement list subjects api (#57)
  api/config/gateway/teacher/config.go
  api/internal/gateway/cmd/teacher/exec.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/response/subject.go
  api/mock/user/database/database.go
  docker-compose.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects.index.yaml
Due: api

feat(classroom-api): add school type fields to subject
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/user/validation/teacher_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/common.proto
  api/proto/classroom/service.proto
  api/proto/classroom/subject.proto
Due: api

fix(classroom-api): fix small
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
Due: none

feat(classroom-api): add school type fields to subject (#59)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/user/validation/teacher_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/common.proto
  api/proto/classroom/service.proto
  api/proto/classroom/subject.proto
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
Due: api

feat(gateway): add school type fields to subject
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
Due: api

feat(gateway): add school type fields to subject (#60)
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
Due: api

docs(swagger): add response field to list subjects
  api/hack/database-seeds/main.go
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
Due: api

docs(swagger): add response field to list subjects (#61)
  api/hack/database-seeds/main.go
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
Due: api

feat: add student entity test
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_test.go
Due: api

feat(user-api):add student entity (#53)
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_test.go
Due: api

fix: move student entity
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Due: api

feat(user-api): add Get method detail
  api/internal/user/database/database.go
  api/internal/user/database/student.go
Due: api

feat(gateway): add update my subjects api mock
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/me/subjects.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Due: api

feat(gateway): add update my subjects api mock (#63)
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/me/subjects.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Due: api

fix: testがonClickのままだったのでonSubmitに変更した
  web/teacher/test/components/templates/TheSignIn.test.ts
Due: teacher-web

refactor(mysql): refactor mysql schemas
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021120903-users-create-table-students.sql
  infra/mysql/schema/2021121101-users-alter-table-teachers.sql
  infra/mysql/schema/2021121102-users-alter-table-students.sql
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
  infra/mysql/schema/2021122101-classrooms-create-table-subjects-teachers.sql
Due: none

refactor(mysql): refactor mysql schemas (#64)
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021120903-users-create-table-students.sql
  infra/mysql/schema/2021121101-users-alter-table-teachers.sql
  infra/mysql/schema/2021121102-users-alter-table-students.sql
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
  infra/mysql/schema/2021122101-classrooms-create-table-subjects-teachers.sql
Due: none

feat: ログインをEnterキーでできるようにした (#58)
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/test/components/templates/TheSignIn.test.ts
Due: teacher-web

feat(classroom-api): implement get teacher subject api
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
  api/proto/classroom/service.proto
  api/proto/classroom/teacher_subject.proto
  infra/mysql/schema/2021122102-classrooms-alter-table-teacher-subjects.sql
Due: api

fix(classroom-api): fix small
  api/internal/classroom/api/teacher_subject_test.go
Due: api

fix(classroom-api): fix small
  api/internal/classroom/entity/teacher_subject_test.go
Due: api

chore(functions): update deps
  infra/functions/gcr-cleaner/go.mod
  infra/functions/gcr-cleaner/go.sum
Due: none

feat(classroom-api): implement get teacher subject api (#65)
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
  api/proto/classroom/service.proto
  api/proto/classroom/teacher_subject.proto
  infra/mysql/schema/2021122102-classrooms-alter-table-teacher-subjects.sql
Due: api

feat(gateway): update get auth api
  api/internal/gateway/entity/teacher_subject.go
  api/internal/gateway/entity/teacher_subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/response/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
Due: api

fix(gateway): fix typo
  Makefile
  api/internal/gateway/teacher/v1/response/auth.go
Due: api

feat(web/teacher): add auth response field
  web/teacher/src/store/auth.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/store/auth.ts
Due: teacher-web

fix(gateway): fix small
  api/internal/classroom/entity/teacher_subject_test.go
Due: api

fix(web/teacher): add test
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
Due: teacher-web

fix small
  api/internal/classroom/api/teacher_subject_test.go
Due: api

feat(gateway): update get auth api (#67)
  Makefile
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/gateway/entity/teacher_subject.go
  api/internal/gateway/entity/teacher_subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/response/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
Due: api

feat(web/teacher): add auth response field (#68)
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
Due: teacher-web

feat(classroom-api): implement update teacher subjects
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

fix(classroom-api): fix small
  api/hack/database-seeds/main.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/entity/teacher_subject_test.go
Due: api

fix(classroom-api): fix small
  api/internal/classroom/database/teacher_subject_test.go
Due: api

feat(classroom-api): implement update teacher subjects (#69)
  api/hack/database-seeds/main.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

feat(gateway): implement update my subjects
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  docs/swagger/teacher/paths/v1/me/subjects.yaml
Due: api

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/subject.go
Due: api
