Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

feat: TheSelectコンポーネントにappendOuterIconプロパティを追加
  web/teacher/src/components/atoms/TheSelect.vue
Due: teacher-web

test: appendOuterIconのテストケースを追加
  web/teacher/test/components/atoms/TheSelect.test.ts
Due: teacher-web

feat(user-api): GetStudent usecase (#91)
  api/internal/user/api/api_test.go
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/user/validation/validator.go
Due: api

feat(lesson-api): implement list shift summaries api (#98)
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(hack): update database seeds command (#94)
  api/hack/database-seeds/main.go
Due: api

feat(gateway): changing create shifts response
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

feat(gateway): changing create shifts response (#99)
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

Add: added test code
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/store/submission.ts
Due: teacher-web

add request and response proto
  api/proto/user/service.proto
Due: api

Add: added submission page (#77)
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/props/submission.ts
  web/teacher/src/types/store/submission.ts
Due: teacher-web

make mockgen
  api/mock/proto/user/service_grpc.pb.go.go
Due: api

feat(gateway): implement list shift summaries api
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
Due: api

fix(gateway): fix lint
  api/internal/gateway/teacher/v1/entity/shift_summary.go
Due: api

style: change response proto
  api/proto/user/service.proto
  api/proto/user/student.proto
Due: api

add request and response proto (#100)
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Due: api

feat(hack): create database migrate command
  api/hack/database-migrate/main.go
  api/hack/database-seeds/main.go
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
  infra/mysql/schema/2021122501-lessons-create-database.sql
Due: api

fix(hack): fix small
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
Due: none

fix(hack): fix lint
  api/hack/database-migrate/main.go
Due: api

feat(hack): create database migrate command (#103)
  api/hack/database-migrate/main.go
  api/hack/database-seeds/main.go
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
  infra/mysql/schema/2021122501-lessons-create-database.sql
Due: api

feat(gateway): implement list shift summaries api (#102)
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
Due: api

feat(infra): setup database migrate container
  Makefile
  bin/database-migrate.sh
  docker-compose.yaml
  infra/docker/api/hack/Dockerfile
Due: none

feat(infra): setup database migrate container (#104)
  Makefile
  bin/database-migrate.sh
  docker-compose.yaml
  infra/docker/api/hack/Dockerfile
Due: none

feat(lesson-api): implement list shifts api
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): implement list shifts api (#106)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): implement get shift summary api
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): implement get shift summary api (#107)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): implement list shifts api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId.yaml
Due: api

feat(gateway): implement list shifts api (#108)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId.yaml
Due: api

fix(infra): update makefile
  Makefile
Due: none

feat(web/teacher): implement shift top page when use desktop
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheShiftTopCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/test/helpers/api-mock/shift.ts
Due: teacher-web

feat(web/teacher): implement shift top page when use desktop (#110)
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheShiftTopCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

Add: added submission edit page
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/pages/submissions/teachers/edit.vue
Due: teacher-web

feat(web/teacher): implement create shifts
  web/teacher/src/components/atoms/TheTextField.vue
  web/teacher/src/components/molecules/.keep
  web/teacher/src/components/molecules/TheDatePicker.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/vee-validate.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/form/util.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/molecules/.keep
  web/teacher/test/components/molecules/TheDatePicker.test.ts
  web/teacher/test/components/organisms/TheShiftNewCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/plugins/vee-validate.ts
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/src/pages/shifts/index.vue
Due: teacher-web

test(web/teacher): fix test code
  web/teacher/test/store/shift.test.ts
Due: teacher-web

feat(web/teacher): implement create shifts dialog (#111)
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheTextField.vue
  web/teacher/src/components/molecules/.keep
  web/teacher/src/components/molecules/TheDatePicker.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/vee-validate.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/form/util.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/molecules/.keep
  web/teacher/test/components/molecules/TheDatePicker.test.ts
  web/teacher/test/components/organisms/TheShiftNewCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

fix(infra): update makefile (#109)
  Makefile
Due: none

feat(api): sort list shifts response
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift_test.go
  api/proto/lesson/service.proto
Due: api

Path conditions:
  api: any of: api/
  teacher-web: any of: web/
