Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

fix(web/teacher): fix lint
  web/teacher/src/components/templates/PcShiftDetail.vue
Due: teacher-web

feat(web/teacher): implement api client for get user submissions
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

fix(web/teacher): fix for reviews
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/proto/classroom/service.proto
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/src/types/store/user.ts
Due: api, teacher-web

fix(web/teacher): fix lint
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/_id.vue
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/src/types/store/submission.ts
  web/teacher/test/helpers/api-mock/submission.ts
Due: teacher-web

fix(web/teacher): fix for reviews
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

refactor(*): refactor shifts entity
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
Due: api

fix(web/teacher): fix small
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/user.ts
Due: teacher-web

feat(web/teacher): implement api client for list lessons
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/store/shift.ts
Due: teacher-web

feat(web/teacher): implement api client for get user submissions (#224)
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/proto/classroom/service.proto
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/src/types/store/submission.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/user.test.ts
Due: api, teacher-web

Add: added update mail API by BFF
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/teacher.ts
Due: teacher-web

Remove unnecessary code
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/store/user.ts
Due: teacher-web

feat(gateway): add ListStudents specification
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Due: none

feat(gateway): add ListStudents mock
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/response/student.go
Due: api

fix: delete needless code
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
Due: none

types: 型定義を追加
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/subject.ts
Due: teacher-web

feat: SchoolTypeからnumberに変換する関数の実装
  web/teacher/src/lib/convert.ts
Due: teacher-web

feat: 開講科目作成機能をAPIと接続
  web/teacher/src/pages/settings/subjects.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/subject.ts
Due: teacher-web

fix(classroom-api): fix create subject response
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
Due: api

feat(gateway): add ListStudents mock (#229)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/response/student.go
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Due: api

fix(classroom-api): fix create subject response (#230)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
Due: api

feat(web/teacher): shift details page ui
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/shift.ts
Due: teacher-web

feat(web/teacher): fix lint
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
Due: teacher-web

feat(gateway): add field to shifts response
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

Feat/teacher web/implement new lessons (#231)
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/shift.ts
Due: api, teacher-web

feat(gateway): add DeleteStudent specification
  docs/swagger/teacher/paths/v1/students/_studentId/index.yaml
Due: none

feat(web/teacher): enabled button setting
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
Due: teacher-web

Fix: fixed mail update path
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/store/user.ts
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

feat(web/teacher): new lesson layout (#232)
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

Refacotr: refactor code
  web/teacher/src/pages/settings/mail.vue
Due: teacher-web

feat(gateway): add DeleteStudent mock
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
Due: api

feat(web/teacher): implement new lessons dialog design
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
Due: teacher-web

feat(web/teacher): implement new lessons dialog design (#234)
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
Due: teacher-web

feat(web/teacher): add loader in shift detail page
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

feat(web/teacher): add loader in shift detail page (#235)
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

feat(web/teacher): implement list lessons per user dialog
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/src/store/shift.ts
Due: teacher-web
