Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

feat(lesson-api): initialize lesson api (#84)
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  api/cmd/lesson/server/main.go
  api/config/gateway/teacher/config.go
  api/config/lesson/server/config.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/database_test.go
  api/internal/lesson/validation/validator.go
  api/internal/lesson/validation/validator_test.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docker-compose.yaml
  infra/docker/api/lesson/server/Dockerfile
  infra/docker/api/lesson/server/Dockerfile.development
  infra/mysql/schema/2021122501-lessons-create-database.sql
Due: api

feat(infra): update api container image for dev
  infra/docker/api/classroom/server/Dockerfile.development
  infra/docker/api/gateway/teacher/Dockerfile.development
  infra/docker/api/lesson/server/Dockerfile.development
  infra/docker/api/user/server/Dockerfile.development
  infra/docker/web/teacher/Dockerfile.development
Due: none

feat(hack): update database seeds command
  api/hack/database-seeds/main.go
Due: api

fix(hack): fix small
  api/hack/database-seeds/main.go
Due: api

fix(hack): fix lint
  api/hack/database-seeds/main.go
Due: api

feat(infra): update api container image for dev (#85)
  infra/docker/api/classroom/server/Dockerfile.development
  infra/docker/api/gateway/teacher/Dockerfile.development
  infra/docker/api/lesson/server/Dockerfile.development
  infra/docker/api/user/server/Dockerfile.development
  infra/docker/web/teacher/Dockerfile.development
Due: none

feat(user-api): GetStudent method (#62)
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/mock/user/database/database.go
Due: api

chore: yarn.lockを再生成 (#78)
  web/teacher/yarn.lock
Due: teacher-web

Add: conversion YYYYMMDD -> YYYY/MM/DD
  web/teacher/src/pages/submissions/index.vue
Due: teacher-web

Refactor: Fixed to divide into compornents
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/pages/submissions/index.vue
Due: teacher-web

feat(gateway): implement update teacher email and password api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  docs/swagger/openapitools.json
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects/_subjectId.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/mail.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/password.yaml
  docs/swagger/yarn.lock
Due: api

feat(gateway): implement update teacher email and password api (#87)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  docs/swagger/openapitools.json
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects/_subjectId.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/mail.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/password.yaml
  docs/swagger/yarn.lock
Due: api

feat(hack): update database seeds command (#86)
  api/hack/database-seeds/main.go
Due: api

Refactor: refactor code
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/types/props/submission.ts
Due: teacher-web

fix(docs): typo
  docs/swagger/teacher/paths/v1/subjects/_subjectId.yaml
Due: none

fix(docs): typo (#89)
  docs/swagger/teacher/paths/v1/subjects/_subjectId.yaml
Due: none

feat(hack): update database seeds command (#90)
  api/hack/database-seeds/main.go
Due: api

feat(infra): create rooms table in classrooms
  api/hack/database-seeds/main.go
  api/internal/classroom/entity/room.go
  infra/mysql/schema/2021122701-classrooms-create-table-rooms.sql
Due: api

add GetStudent validator
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
Due: api

feat(classroom-api): implement rooms api
  api/hack/database-seeds/main.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/room.go
  api/internal/classroom/api/room_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/room.go
  api/internal/classroom/database/room_test.go
  api/internal/classroom/entity/room.go
  api/internal/classroom/entity/room_test.go
  api/internal/classroom/validation/room.go
  api/internal/classroom/validation/room_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

fix(classroom-api): fix lint
  api/internal/classroom/database/room.go
Due: api

fix(classroom-api): fix lint
  api/hack/database-seeds/main.go
Due: api

feat(classroom-api): implement rooms api (#92)
  api/hack/database-seeds/main.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/room.go
  api/internal/classroom/api/room_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/room.go
  api/internal/classroom/database/room_test.go
  api/internal/classroom/entity/room.go
  api/internal/classroom/entity/room_test.go
  api/internal/classroom/validation/room.go
  api/internal/classroom/validation/room_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

feat(gateway): implement rooms total api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/room.go
  api/internal/gateway/teacher/v1/handler/room_test.go
  api/internal/gateway/teacher/v1/request/room.go
  api/internal/gateway/teacher/v1/response/room.go
  docs/swagger/teacher/components/schemas/v1/rooms.request.yaml
  docs/swagger/teacher/components/schemas/v1/rooms.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/rooms/index.yaml
Due: api

feat(gateway): implement rooms total api (#93)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/room.go
  api/internal/gateway/teacher/v1/handler/room_test.go
  api/internal/gateway/teacher/v1/request/room.go
  api/internal/gateway/teacher/v1/response/room.go
  docs/swagger/teacher/components/schemas/v1/rooms.request.yaml
  docs/swagger/teacher/components/schemas/v1/rooms.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/rooms/index.yaml
Due: api

feat(lesson-api): define shift entity
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/shift_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/proto/lesson/common.proto
  api/proto/lesson/shift.proto
  api/proto/lesson/shift_summary.proto
  infra/mysql/schema/2021122702-lessons-create-table-shifts.sql
Due: api

fix(lesson-api): fix lint
  api/internal/lesson/entity/shift_summary.go
Due: api

feat(lesson-api): define shift entity (#95)
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/shift_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/proto/lesson/common.proto
  api/proto/lesson/shift.proto
  api/proto/lesson/shift_summary.proto
  infra/mysql/schema/2021122702-lessons-create-table-shifts.sql
Due: api

feat(lesson-api): implement create shits api
  api/config/lesson/server/config.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/database_test.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/schedule.go
  api/internal/lesson/entity/schedule_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

fix(infra): fix small
  docker-compose.yaml
Due: none

feat(lesson-api): implement create shits api (#96)
  api/config/lesson/server/config.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/database_test.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/schedule.go
  api/internal/lesson/entity/schedule_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docker-compose.yaml
Due: api

feat(gateway): implement create shifts api
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_summary.go
  api/internal/gateway/entity/shift_summary_test.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
Due: api

chore: make mockgen
  api/mock/user/validation/validator.go
Due: api

feat(gateway): implement create shifts api (#97)
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_summary.go
  api/internal/gateway/entity/shift_summary_test.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
Due: api

style: Linterの警告に従ってtypeを追加
  web/teacher/src/components/atoms/TheSelect.vue
Due: teacher-web

feat: Selectコンポーネントにchipsプロパティの追加
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/test/components/atoms/TheSelect.test.ts
Due: teacher-web

add GetStudent API
  api/internal/user/api/api_test.go
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
Due: api

feat(lesson-api): implement list shift summaries api
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api
