Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

feat(web/teacher): implement teacher submissions api client (#142)
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Due: teacher-web

feat(web/teacher): implement ui when shif it not yet accepted
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/static/submission.png
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
Due: teacher-web

feat(web/teacher): implement ui when shif it not yet accepted (#144)
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/static/submission.png
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
Due: teacher-web

add createStudent interface and detail
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Due: api

add createStudent interface and detail (#146)
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Due: api

fix(classroom-api): fix goroutine in upsert subjects
  api/internal/classroom/api/teacher_subject.go
Due: api

add NewStudent Method
  api/internal/user/entity/student.go
Due: api

fix(classroom-api): add user service client
  api/config/classroom/server/config.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/classroom/cmd/server/registry.go
  docker-compose.yaml
Due: api

fix(classroom-api): fix small
  api/internal/classroom/api/teacher_subject_test.go
Due: api

fix(classroom-api): fix goroutine in upsert subjects (#147)
  api/config/classroom/server/config.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/classroom/cmd/server/registry.go
  docker-compose.yaml
Due: api

feat(infra): update Makefile
  Makefile
Due: none

add createStudent validator
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
Due: api

make mockgen
  api/mock/user/validation/validator.go
Due: api

feat(web/teacher): implement desktop default layout
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/default.vue
  web/teacher/test/components/organisms/TheSidebar.test.ts
Due: teacher-web

fix(web/teacher): fix image size in desktop layout
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/src/layouts/error.vue
Due: teacher-web

feat(web/teacher): implement desktop default layout (#149)
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/default.vue
  web/teacher/test/components/organisms/TheSidebar.test.ts
Due: teacher-web

fix(web/teacher): fix image size in desktop layout (#150)
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/layouts/error.vue
Due: teacher-web

fix: lint max length
  api/internal/user/entity/student.go
Due: api

test: add NewStudent Test
  api/internal/user/entity/student_test.go
Due: api

test: add NewStudent all SchoolType
  api/internal/user/entity/student_test.go
Due: api

feat(web/teacher): implement signin ui for desktop
  web/teacher/.firebaserc
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/auth.vue
  web/teacher/src/pages/signin.vue
Due: teacher-web

feat(gateway): initialize student gateway
  api/config/gateway/student/config.go
  api/internal/gateway/cmd/student/exec.go
  api/internal/gateway/cmd/student/registry.go
  api/internal/gateway/cmd/student/router.go
  api/internal/gateway/student/v1/handler/api.go
Due: api

feat(infra): setup student gateway
  .env.temp
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  docker-compose.yaml
  docs/swagger/Makefile
  docs/swagger/package.json
  docs/swagger/student/openapi.yaml
  infra/docker/api/gateway/student/Dockerfile
  infra/docker/api/gateway/student/Dockerfile.development
Due: none

fix(gateway): fix small
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/api_test.go
Due: api

fix(gateway): fix small
  api/cmd/gateway/student/main.go
Due: api

feat(web/teacher): implement signin ui for desktop (#151)
  web/teacher/.firebaserc
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/auth.vue
  web/teacher/src/pages/signin.vue
Due: teacher-web

Feat/gateway/initialize student gateway (#152)
  .env.temp
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  api/cmd/gateway/student/main.go
  api/config/gateway/student/config.go
  api/internal/gateway/cmd/student/exec.go
  api/internal/gateway/cmd/student/registry.go
  api/internal/gateway/cmd/student/router.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/api_test.go
  docker-compose.yaml
  docs/swagger/Makefile
  docs/swagger/package.json
  docs/swagger/student/openapi.yaml
  infra/docker/api/gateway/student/Dockerfile
  infra/docker/api/gateway/student/Dockerfile.development
Due: api

feat(gateway): implement get auth api
  api/hack/database-seeds/main.go
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_test.go
  api/internal/gateway/student/v1/entity/auth.go
  api/internal/gateway/student/v1/entity/auth_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/auth.go
  api/internal/gateway/student/v1/handler/auth_test.go
  api/internal/gateway/student/v1/response/auth.go
  docs/swagger/Makefile
  docs/swagger/student/components/schemas/common.yaml
  docs/swagger/student/components/schemas/v1/auth.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/me/index.yaml
Due: api

feat(classroom-api): define student subjects proto
  api/proto/classroom/service.proto
  api/proto/classroom/student_subject.proto
  infra/mysql/schema/2022010401-classrooms-create-table-student-subjects.sql
Due: api

feat(ci/cd): setup deploy student web
  .github/workflows/cd-web-student-for-main.yaml
Due: none

feat(ci/cd): setup deploy student web (#154)
  .github/workflows/cd-web-student-for-main.yaml
Due: none

fix(classroom-api): make mockgen
  api/mock/proto/classroom/service_grpc.pb.go.go
Due: api

feat(classroom-api): define student subjects proto (#155)
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
  api/proto/classroom/student_subject.proto
  infra/mysql/schema/2022010401-classrooms-create-table-student-subjects.sql
Due: api

feat(classroom-api): implement student subjects db logic
  api/internal/classroom/database/database.go
  api/internal/classroom/database/student_subject.go
  api/internal/classroom/database/student_subject_test.go
  api/internal/classroom/entity/student_subject.go
  api/internal/classroom/entity/student_subject_test.go
  api/mock/classroom/database/database.go
Due: api

feat(classroom-api): implement student subjects db logic (#156)
  api/internal/classroom/database/database.go
  api/internal/classroom/database/student_subject.go
  api/internal/classroom/database/student_subject_test.go
  api/internal/classroom/entity/student_subject.go
  api/internal/classroom/entity/student_subject_test.go
  api/mock/classroom/database/database.go
Due: api

feat(classroom-api): implement student subjects api
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/student_subject.go
  api/internal/classroom/api/student_subject_test.go
  api/internal/classroom/validation/student_subject.go
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/validation/validator.go
Due: api

feat(user-api): insert uid in NewStudent method
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Due: api
