Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

chore(teacher-web): add .node-version (#37)
  web/teacher/.node-version
Due: teacher-web

feat(infra): setup database migrate command
  Makefile
  api/hack/database-seeds/main.go
  bin/.keep
  bin/database-migrate.sh
Due: api

feat(infra): setup database migrate command (#38)
  Makefile
  api/hack/database-seeds/main.go
  bin/.keep
  bin/database-migrate.sh
Due: api

feat(web/teacher): implement list teacher api client
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

feat(web/teacher): adjust layout
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/src/components/templates/TheUserTop.vue
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/src/components/templates/TheSettingTop.vue
Due: teacher-web

feat(web/teacher): implement list teacher api client (#39)
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

feat(web/teacher): adjust layout (#41)
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/src/components/templates/TheUserTop.vue
Due: teacher-web

feat(user-api): add total field in list teachers response
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/mock/user/database/database.go
  api/proto/user/service.proto
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
Due: api

feat(user-api): add total field in list teachers response (#42)
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/mock/user/database/database.go
  api/proto/user/service.proto
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
Due: api

feat(user-api): setup student interface
  api/internal/user/api/api_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/mock/user/database/database.go
Due: api

feat(web/teacher): update list teachers page
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix(web/teacher): fix field type
  web/teacher/src/components/templates/TheSignIn.vue
Due: teacher-web

feat(web/teacher): update list teachers page (#44)
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix(web/teacher): fix field type (#45)
  web/teacher/src/components/templates/TheSignIn.vue
Due: teacher-web

feat(web/teacher): implement create teacher page
  web/teacher/nuxt.config.js
  web/teacher/package.json
  web/teacher/src/components/atoms/.keep
  web/teacher/src/components/atoms/TheFormGroup.vue
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheTextField.vue
  web/teacher/src/components/organisms/TheTeacherNewForm.vue
  web/teacher/src/components/templates/TheTeacherNew.vue
  web/teacher/src/pages/users/teachers/new.vue
  web/teacher/src/plugins/vee-validate.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/form/util.ts
  web/teacher/src/types/props/teacher.ts
  web/teacher/test/components/atoms/.keep
  web/teacher/test/components/atoms/TheFormGroup.test.ts
  web/teacher/test/components/atoms/TheSelect.test.ts
  web/teacher/test/components/atoms/TheTextField.test.ts
  web/teacher/test/components/organisms/TheTeacherNewForm.test.ts
  web/teacher/test/components/templates/TheTeacherNew.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/helpers/setup.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/user.test.ts
  web/teacher/tsconfig.json
  web/teacher/yarn.lock
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/test/components/organisms/TheTeacherNewForm.test.ts
  web/teacher/test/components/templates/TheTeacherNew.test.ts
Due: teacher-web

feat(web/teacher): implement create teacher page (#46)
  web/teacher/nuxt.config.js
  web/teacher/package.json
  web/teacher/src/components/atoms/.keep
  web/teacher/src/components/atoms/TheFormGroup.vue
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheTextField.vue
  web/teacher/src/components/organisms/TheTeacherNewForm.vue
  web/teacher/src/components/templates/TheTeacherNew.vue
  web/teacher/src/pages/users/teachers/new.vue
  web/teacher/src/plugins/vee-validate.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/form/util.ts
  web/teacher/src/types/props/teacher.ts
  web/teacher/test/components/atoms/.keep
  web/teacher/test/components/atoms/TheFormGroup.test.ts
  web/teacher/test/components/atoms/TheSelect.test.ts
  web/teacher/test/components/atoms/TheTextField.test.ts
  web/teacher/test/components/organisms/TheTeacherNewForm.test.ts
  web/teacher/test/components/templates/TheTeacherNew.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/helpers/setup.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/user.test.ts
  web/teacher/tsconfig.json
  web/teacher/yarn.lock
Due: teacher-web

fix(web/teacher): fix lesson mock
  web/teacher/src/pages/index.vue
Due: teacher-web

fix(web/teacher): fix lesson mock (#47)
  web/teacher/src/pages/index.vue
Due: teacher-web

feat(web/teacher): add new teacher page link
  web/teacher/src/components/atoms/TheAlert.vue
  web/teacher/src/components/organisms/TheSnackbar.vue
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/constants/exception.ts
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/signin.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/pages/users/teachers/new.vue
  web/teacher/src/store/common.ts
  web/teacher/src/types/props/snackbar.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/components/atoms/TheAlert.test.ts
  web/teacher/test/components/organisms/TheSnackbar.test.ts
  web/teacher/test/components/templates/TheSignIn.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/common.test.ts
Due: teacher-web

feat(web/teacher): add new teacher page link (#48)
  web/teacher/src/components/atoms/TheAlert.vue
  web/teacher/src/components/organisms/TheSnackbar.vue
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/constants/exception.ts
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/signin.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/pages/users/teachers/new.vue
  web/teacher/src/store/common.ts
  web/teacher/src/types/props/snackbar.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/components/atoms/TheAlert.test.ts
  web/teacher/test/components/organisms/TheSnackbar.test.ts
  web/teacher/test/components/templates/TheSignIn.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/common.test.ts
Due: teacher-web

feat(web/teacher): implament signout
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/user.ts
  web/teacher/test/store/auth.test.ts
Due: teacher-web

fix(user-api): fix count query
  api/internal/user/database/teacher.go
Due: api

feat(web/teacher): implament signout (#49)
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/user.ts
  web/teacher/test/store/auth.test.ts
Due: teacher-web

feat(classroom-api): initialize classroom api
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  api/cmd/classroom/server/main.go
  api/config/classroom/server/config.go
  api/hack/database-seeds/main.go
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/classroom/cmd/server/registry.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/database_test.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/classroom/validation/validator_test.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
  api/proto/classroom/subject.proto
  docker-compose.yaml
  infra/docker/api/classroom/server/Dockerfile
  infra/docker/api/classroom/server/Dockerfile.development
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
Due: api

fix(user-api): fix count query (#50)
  api/internal/user/database/teacher.go
Due: api

feat(classroom-api): initialize classroom api (#51)
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  api/cmd/classroom/server/main.go
  api/config/classroom/server/config.go
  api/hack/database-seeds/main.go
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/classroom/cmd/server/registry.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/database_test.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/classroom/validation/validator_test.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
  api/proto/classroom/subject.proto
  docker-compose.yaml
  infra/docker/api/classroom/server/Dockerfile
  infra/docker/api/classroom/server/Dockerfile.development
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
Due: api

fix: literal
  api/internal/user/entity/student.go
Due: api

feat(user-api):add student entity
  api/internal/gateway/entity/student.go
Due: api

feat(classroom-api): implement get subject api
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/validation/subject.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher_test.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
Due: api

feat(classroom-api): implement get subject api (#54)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/validation/subject.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher_test.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
Due: api

chore(*): update database script
  bin/database-migrate.sh
Due: none

chore(*): update database script (#55)
  bin/database-migrate.sh
Due: none

feat(user-api): setup student interface (#43)
  api/internal/user/api/api_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/mock/user/database/database.go
Due: api

fix(classroom-api): fix list subjects api
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/service.proto
Due: api

fix(classroom-api): fix list subjects api (#56)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/service.proto
Due: api

feat(gateway): implement list subjects api
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/response/subject.go
  api/mock/user/database/database.go
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects.index.yaml
Due: api

fix(gateway): fix small
  api/config/gateway/teacher/config.go
  api/internal/gateway/cmd/teacher/exec.go
Due: api

fix(gateway): fix small
  docker-compose.yaml
Due: none

Path conditions:
  api: any of: api/
  teacher-web: any of: web/
