Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

feat(lesson-api): implement create lesson api (#190)
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/lesson.proto
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): implement list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): implement list lessons api (#191)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): update list shifts api response
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/entity/lesson_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

feat(gateway): update list shifts api response (#192)
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/entity/lesson_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

feat(lesson-api): update create lesson api response
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): update create lesson api response (#193)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): implement create lesson api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/request/lesson.go
  api/internal/gateway/teacher/v1/response/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.request.yaml
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Due: api

feat(gateway): implement create lesson api (#194)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/request/lesson.go
  api/internal/gateway/teacher/v1/response/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.request.yaml
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Due: api

feat(user-api): add DeleteStudent database layer (#189)
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Due: api

Add: added mail params
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/types/form/teacher.ts
Due: teacher-web

feat(web/teacher): implement submit teacher shifts
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Due: teacher-web

fix(web/teacher): fix import path
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/types/props/shift.ts
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/types/props/shift.ts
Due: teacher-web

feat(web/teacher): implement submit teacher shifts api client (#195)
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Due: teacher-web

feat(web/teacher): implement create lesson page design
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/templates/MbShiftDetail.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/src/components/templates/PcShiftDetail.vue
Due: teacher-web

fix(web/teacher): fix create shift dialog
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
Due: teacher-web

fix(gateway): fix lesson total fields
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Due: api

feat(web/teacher): implement create lesson page design (#196)
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/templates/MbShiftDetail.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

fix(web/teacher): fix create shift dialog (#197)
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
Due: teacher-web

fix(gateway): fix lesson total fields (#198)
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Due: api

fix(web/teacher): split components in create lessons page
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
Due: teacher-web

fix(web/teacher): split components in create lessons page (#199)
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
Due: teacher-web

feat(user-api): add DeleteStudent validator
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
Due: api

chore: make mockgen
  api/mock/user/validation/validator.go
Due: api

feat(user-api): add DeleteStudent api
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
Due: api

feat(gateway): implement list enabled teacher shifts api
  api/internal/gateway/teacher/v1/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/teachers/_teacherId.yaml
  web/teacher/src/components/organisms/TheSubmissionList.vue
Due: api, teacher-web

fix(gateway): fix test code
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
Due: api

feat(gateway): implement list enabled teacher shifts api (#201)
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/teachers/_teacherId.yaml
  web/teacher/src/components/organisms/TheSubmissionList.vue
Due: api, teacher-web

feat(gateway): implement list enabled student shifts api
  api/internal/gateway/teacher/v1/entity/student_shift.go
  api/internal/gateway/teacher/v1/entity/student_shift_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/students/_studentId.yaml
Due: api

feat(gateway): implement list enabled student shifts api (#202)
  api/internal/gateway/teacher/v1/entity/student_shift.go
  api/internal/gateway/teacher/v1/entity/student_shift_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/students/_studentId.yaml
Due: api

feat(lesson-api): implement list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): implement list lessons api (#203)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

fix(gateway): fix teacher response
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
Due: api
