Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

fix(*): add error handling when record already exists at create
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/database/database.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/database/database.go
  api/internal/user/database/database.go
Due: api

Update shift_summary_test.go
  api/internal/lesson/database/shift_summary_test.go
Due: api

feat(lesson-api): implement update shift summary schedule
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

fix(*): fix lint
  api/internal/classroom/database/database.go
  api/internal/lesson/database/database.go
  api/internal/user/database/database.go
Due: api

feat(api): sort list shifts response (#112)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift_test.go
  api/proto/lesson/service.proto
Due: api

fix(*): add error handling when record already exists at create (#113)
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/database/database.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/database/database.go
  api/internal/user/database/database.go
Due: api

feat(lesson-api): implement update shift summary schedule (#114)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

test(api): add test code
  api/internal/classroom/database/database_test.go
  api/internal/lesson/database/database_test.go
  api/internal/user/database/database_test.go
Due: api

feat(lesson-api): implement delete shift summary
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): changing list shifts response
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

fix(lesson-api): fix small
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/shift_summary_test.go
Due: api

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/shift.go
Due: api

test(api): add test code (#115)
  api/internal/classroom/database/database_test.go
  api/internal/lesson/database/database_test.go
  api/internal/user/database/database_test.go
Due: api

feat(lesson-api): implement delete shift summary (#117)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

fix(gateway): fix small
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: none

feat(gateway): changing list shifts response (#116)
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

fix(web/teacher): fix shifts response
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/test/store/shift.test.ts
Due: teacher-web

fix(web/teacher): fix shifts response (#118)
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

feat(web/teacher): implement list shifts api
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

feat(web/teacher): implement shift update dialog
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/form/util.ts
  web/teacher/test/components/organisms/TheShiftEditCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

feat(web/teacher): implement shift update dialog (#119)
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/form/util.ts
  web/teacher/test/components/organisms/TheShiftEditCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

Add: added submission edit type
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/pages/submissions/teachers/edit.vue
  web/teacher/src/store/submission.ts
  web/teacher/src/types/props/submission.ts
  web/teacher/src/types/store/submission.ts
Due: teacher-web

feat(gateway): implement update shift summary api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/index.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/schedule.yaml
Due: api

feat(gateway): implement update shift summary api (#120)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/index.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/schedule.yaml
Due: api

feat(web/teacher): implement update shifts
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
Due: teacher-web

fix(lesson-api): fix fill status after shift created
  api/internal/lesson/api/shift.go
Due: api

feat(web/teacher): implement update shifts (#121)
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
Due: teacher-web

fix(lesson-api): fix fill status after shift created (#122)
  api/internal/lesson/api/shift.go
Due: api

docs(swagger): add rooms api
  docs/swagger/teacher/openapi.yaml
Due: none

docs(swagger): add rooms api (#123)
  docs/swagger/teacher/openapi.yaml
Due: none

Add: added props data
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/pages/submissions/teachers/edit.vue
Due: teacher-web

feat: ユーザー情報変更ページの要素を配置
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
Due: teacher-web

feat: 科目をproprから入れられるようにした
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
Due: teacher-web

feat: 上位コンポーネントでmoleculesのコンポーネントを呼び出す
  web/teacher/src/components/templates/TheSettingTop.vue
Due: teacher-web

fix(*): fix upsert teacher subject
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

fix(api): fix jst package
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Due: api

fix(*): fix upsert teacher subject (#124)
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

feat(lesson-api): implement upsert teacher shifts
  api/config/lesson/server/config.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/entity/teacher_shift.go
  api/internal/lesson/entity/teacher_shift_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/common.proto
  api/proto/lesson/service.proto
  api/proto/lesson/teacher_shift.proto
  api/proto/lesson/teacher_submission.proto
  docker-compose.yaml
  infra/mysql/schema/2022010101-lessons-create-table-teacher-shifts.sql
Due: api

fix(lesson-api): fix small
  api/internal/lesson/api/api.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_test.go
Due: api
