Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

feat(gateway): implement list teacher submissions api
  api/internal/gateway/entity/shift_summary.go
  api/internal/gateway/entity/shift_summary_test.go
  api/internal/gateway/entity/teacher_submission.go
  api/internal/gateway/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/index.yaml
Due: api

refactor: 戻るボタンの制御をpagesで行う
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/index.vue
Due: teacher-web

fix(ci): add emulator ping timeout
  .github/workflows/ci-backend-for-all.yaml
Due: none

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Due: none

fix(ci): fix small
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/cd-api-user-for-main.yaml
  .github/workflows/cd-gateway-teacher-for-main.yaml
Due: none

feat(ci): setup lesson api workflow
  .github/workflows/cd-api-lesson-for-main.yaml
Due: none

feat(hack): chanding default value
  api/hack/database-seeds/main.go
Due: api

feat(hack): chanding default value (#137)
  api/hack/database-seeds/main.go
Due: api

feat(lesson-api): implement list teacher shifts
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): implement list teacher shifts (#138)
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): implement list teacher shifts api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/_summaryId.yaml
Due: api

docs(swagger): fix rooms api
  docs/swagger/teacher/paths/v1/rooms/index.yaml
Due: none

fix(lesson-api): add check shift submission
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/shift_summary.go
Due: api

frontend: 担当科目更新機能の実装 (#132)
  api/internal/gateway/teacher/v1/entity/subject.go
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/props/setting.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/test/components/atoms/TheSelect.test.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
Due: api, teacher-web

feat(gateway): implement list teacher shifts api (#139)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/_summaryId.yaml
Due: api

wip
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
Due: teacher-web

fix(lesson-api): fix error handling
  api/internal/lesson/api/teacher_shift.go
Due: api

fix(lesson-api): add check shift submission (#140)
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/shift_summary.go
Due: api

fix(lesson-api): fix error handling (#141)
  api/internal/lesson/api/teacher_shift.go
Due: api

add SchoolType
  api/proto/user/common.proto
  api/proto/user/service.proto
  api/proto/user/student.proto
Due: api

fix wrong import and type of year
  api/internal/user/entity/student.go
Due: api

import FisicalYear method
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Due: api

add validation and remove useless value
  api/proto/user/service.proto
Due: api

add test after april
  api/internal/user/entity/student_test.go
Due: api

add Fill SchoolType and Grade method
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Due: api

change birthday to birthyear
  api/proto/user/service.proto
  api/proto/user/student.proto
Due: api

feat(web/teacher): implement teacher submissions api
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/store/submission.ts
  web/teacher/src/types/store/submission.ts
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/test/store/submission.test.ts
Due: teacher-web

add student entity for createStudent (#105)
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/proto/user/common.proto
  api/proto/user/service.proto
  api/proto/user/student.proto
Due: api
