Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

feat(gateway): implement update my subjects (#70)
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  docs/swagger/teacher/paths/v1/me/subjects.yaml
Due: api

refactor(classroom-api): remove update api response
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/proto/classroom/service.proto
Due: api

refactor(classroom-api): remove update api response (#71)
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/proto/classroom/service.proto
Due: api

api: add student struct
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Due: api

add test for get student api
  api/internal/user/database/student_test.go
Due: api

make mockgen
  api/mock/user/database/database.go
Due: api

feat(user-api): implement update teacher api
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Due: api

feat(user-api): implement update teacher api (#73)
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Due: api

feat(gateway): implement update email and password api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/request/auth.go
Due: api

feat(docs): add
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/mail.yaml
  docs/swagger/teacher/paths/v1/me/password.yaml
Due: none

fix(docs): fix small
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
Due: none

feat(gateway): implement update email and password api (#74)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/mail.yaml
  docs/swagger/teacher/paths/v1/me/password.yaml
Due: api

feat(gateway): add query path in list subjects api
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Due: api

feat(gateway): add query path in list subjects api (#75)
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Due: api

feat(classroom-api): implement list schedules api
  api/go.mod
  api/go.sum
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/proto/classroom/schedule.proto
  api/proto/classroom/service.proto
  infra/mysql/schema/2021122401-classrooms-alter-table-schedules.sql
Due: api

fix(infra): fix small
  infra/mysql/schema/2021122401-classrooms-alter-table-schedules.sql
Due: none

feat(classroom-api): implement list schedules api (#76)
  api/go.mod
  api/go.sum
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/proto/classroom/schedule.proto
  api/proto/classroom/service.proto
  infra/mysql/schema/2021122401-classrooms-alter-table-schedules.sql
Due: api

Add: added submission page
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/types/props/submission.ts
Due: teacher-web

Fix: solve build error
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/types/props/submission.ts
Due: teacher-web

Update README.md
  README.md
Due: none

chore: yarn.lockを再生成
  web/teacher/yarn.lock
Due: teacher-web

Fix: fixed layout
  web/teacher/src/pages/submissions/index.vue
Due: teacher-web

Fix: fixed text cecnter
  web/teacher/src/pages/submissions/index.vue
Due: teacher-web

chore(functions): update deps (#66)
  infra/functions/gcr-cleaner/go.mod
  infra/functions/gcr-cleaner/go.sum
Due: none

feat(classroom-api): implement update schedules api
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

feat(classroom-api): implement update schedules api (#79)
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

style : insert type and change function's names
  api/internal/user/database/student_test.go
  api/internal/user/entity/student_test.go
Due: api

feat(gateway): implement schedule api
  api/internal/gateway/entity/schedule.go
  api/internal/gateway/entity/schedule_test.go
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/schedule.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/schedule.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/auth.go
  api/internal/gateway/teacher/v1/response/schedule.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/schedules/index.yaml
Due: api

feat(gateway): implement schedule api (#80)
  api/internal/gateway/entity/schedule.go
  api/internal/gateway/entity/schedule_test.go
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/schedule.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/schedule.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/auth.go
  api/internal/gateway/teacher/v1/response/schedule.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/schedules/index.yaml
Due: api

feat(classroom-api): implement subject api
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

fix(classroom-api): fix small
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
Due: api

feat(classroom-api): implement subject api (#81)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Due: api

feat(gateway): implement subject api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/request/subject.go
  api/internal/gateway/teacher/v1/response/subject.go
  docs/swagger/teacher/components/schemas/v1/subjects.request.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects/_id.yaml
Due: api

refactor(classroom-api): refactor upper case to color code
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
Due: api

fix(gateway): fix small
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
Due: api

refactor(classroom-api): refactor upper case to color code (#83)
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
Due: api

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/subject_test.go
Due: api

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/auth_test.go
Due: api

feat(gateway): implement subject api (#82)
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/request/subject.go
  api/internal/gateway/teacher/v1/response/subject.go
  docs/swagger/teacher/components/schemas/v1/subjects.request.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects/_id.yaml
Due: api

feat(lesson-api): initialize lesson api
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  api/cmd/lesson/server/main.go
  api/config/gateway/teacher/config.go
  api/config/lesson/server/config.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/database_test.go
  api/internal/lesson/validation/validator.go
  api/internal/lesson/validation/validator_test.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docker-compose.yaml
  infra/docker/api/lesson/server/Dockerfile
  infra/docker/api/lesson/server/Dockerfile.development
  infra/mysql/schema/2021122501-lessons-create-database.sql
Due: api
