Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

fix(gateway): fix small
  api/internal/gateway/entity/subject_test.go
Due: api

fix(gateway): fix small
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Due: api

fix(gateway): fix teacher response (#204)
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
Due: api

feat(gateway): update student response
  api/internal/gateway/entity/student_subject.go
  api/internal/gateway/entity/student_subject_test.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

feat(gateway): update student response (#205)
  api/internal/gateway/entity/student_subject.go
  api/internal/gateway/entity/student_subject_test.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

feat(gateway): define REST specification
  docs/swagger/student/openapi.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/index.yaml
Due: none

fix: delete needless path
  docker-compose.yaml
Due: none

feat(lesson-api): implement list submissions api
  api/internal/lesson/api/shift.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift.go
  api/internal/lesson/database/student_shift_test.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/proto/lesson/service.proto
Due: api

fix(lesson-api): fix small
  api/internal/lesson/api/shift_test.go
Due: api

fix(lesson-api): fix small
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
Due: api

Feat/lesson api/implement list submissions (#207)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift.go
  api/internal/lesson/database/student_shift_test.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): implement list submissions api
  api/internal/gateway/entity/student_shift.go
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/submissions/_submissionId.yaml
Due: api

fix: migrate task
  Makefile
Due: none

feat(gateway): [wip] create test code
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

fix: migrate task (#209)
  Makefile
Due: none

fix(gateway): fix small
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/teacher_shift_test.go
Due: api

style: useXX hook に書き換え
  web/teacher/src/pages/settings/index.vue
Due: teacher-web

fix: 背景色を変更
  web/teacher/src/layouts/default.vue
Due: teacher-web

fix: cardにborderをつける
  web/teacher/src/components/templates/TheSettingTop.vue
Due: teacher-web

fix: ブース設定を一番上に持ってくる
  web/teacher/src/components/templates/TheClassroomSetting.vue
Due: teacher-web

fix: 「戻る」ボタンを配置するページを変更
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
Due: teacher-web

Add: added update mail page
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/types/form/teacher.ts
Due: teacher-web

Fix: やまちゅんの苦情を修正
  web/teacher/src/pages/settings/mail.vue
Due: teacher-web

feat(user-api): implement multi get teachers
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Due: api

feat(user-api): fix small
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Due: api

feat(gateway): implement list submissions api (#208)
  api/internal/gateway/entity/student_shift.go
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/submissions/_submissionId.yaml
Due: api

Add: Added update mail page (#211)
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/types/form/teacher.ts
Due: teacher-web

feat(user-api): implement multi get teachers (#213)
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Due: api

fix: 不要な部分を削除
  web/teacher/src/layouts/default.vue
Due: teacher-web

Refactor: にしくんの苦情を修正
  web/teacher/src/pages/settings/mail.vue
Due: teacher-web

feat: 開講科目設定画面のpageを作成
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/subjects.vue
Due: teacher-web

設定画面のUIを調整 (#210)
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
Due: teacher-web

Refactor: にしくんの苦情を修正 (#214)
  web/teacher/src/pages/settings/mail.vue
Due: teacher-web

feat(user-api): implement multi get students
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Due: api

feat(user-api): fix small
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Due: api

style: delete needless code
  docs/swagger/student/openapi.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
Due: none
