Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

feat(classroom-api): implement student subjects api (#157)
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/student_subject.go
  api/internal/classroom/api/student_subject_test.go
  api/internal/classroom/validation/student_subject.go
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/validation/validator.go
Due: api

feat(gateway): changing update schedules request
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
Due: api

fix: typo
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Due: api

feat(user-api): add CreateStudent api
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
Due: api

feat(user-api): implement delete teacher api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Due: api

feat(user-api): implement delete teacher api (#160)
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Due: api

feat(user-api): implement update teacher role api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Due: api

fix(hack): fix small
  api/hack/database-seeds/main.go
Due: api

feat(user-api): implement update teacher role api (#159)
  api/hack/database-seeds/main.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Due: api

feat(gateway): implement teacher api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/role.yaml
Due: api

feat(gateway): implement teacher api (#161)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/role.yaml
Due: api

feat(gateway): implement update teacher subjects api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/subject.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/subjects.yaml
Due: api

feat(gateway): changing update schedules request (#158)
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
Due: api

fix(gateway): fix lint
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher.go
Due: api

feat(gateway): implement update teacher subjects api (#162)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/subject.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/subjects.yaml
Due: api

style: delete useless line
  api/internal/user/entity/student_test.go
Due: api

feat(user-api): CreateStudent usecase layer (#148)
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/user/validation/validator.go
Due: api

Add: added basic layout
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
Due: teacher-web

feat(web/teacher): implement show teacher dialog
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/organisms/TheTeacherShowCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/user.ts
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/src/store/user.ts
Due: teacher-web

fix: SchoolTypeをenumからunion型に変更
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/subject.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/lesson.ts
Due: teacher-web

feat(user-api): add ListStudents proto
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Due: api

feat(web/teacher): add test codes
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/test/components/atoms/TheSelectWithSlot.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/lesson.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix(web/teacher): fix lint
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/src/pages/index.vue
Due: teacher-web

feat(web/teacher): implement show teacher dialog (#163)
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/atoms/TheSelectWithSlot.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/lesson.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix(gateway): fix nil pointer for error handling
  api/internal/gateway/teacher/v1/handler/api.go
Due: api

feat(web/teacher): swith ui by role
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/types/props/menu.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
Due: teacher-web

fix: SchoolTypeをUnionにしたのでStudenteも修正
  web/teacher/src/types/store/user.ts
Due: teacher-web

feat: Typeを変換する関数の実装
  web/teacher/src/lib/convert.ts
  web/teacher/src/lib/index.ts
Due: teacher-web

fix: 影響箇所のコードを修正
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
Due: teacher-web

style: 不要ないimportを削除
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/test/components/organisms/TheMenu.test.ts
  web/teacher/test/components/organisms/TheSidebar.test.ts
Due: teacher-web

feat(web/teacher): swith ui by role (#166)
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/types/props/menu.ts
  web/teacher/test/components/organisms/TheMenu.test.ts
  web/teacher/test/components/organisms/TheSidebar.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
Due: teacher-web

fix(gateway): fix nil pointer for error handling (#165)
  api/internal/gateway/teacher/v1/handler/api.go
Due: api

feat(web/teacher): implement delete teacher api client
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix(web/teacher): fix small
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
Due: teacher-web

Feat/teacher web/delete teacher (#168)
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

infra: Dockerfileを追加
  infra/docker/infra/swagger/student/Dockerfile
Due: none

feat(user-api): add ListStudents proto (#164)
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Due: api
