Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

feat(user-api): implement multi get students (#215)
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Due: api

feat(lesson-api): implement list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

refactor(lesson-api): lesson api method in one
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(lesson-api): implement list lessons api (#216)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): add GetStudent Mock
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/student.go
  api/internal/gateway/student/v1/handler/student_test.go
  api/internal/gateway/student/v1/response/student.go
Due: api

feat(lesson-api): update list shifts api request
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift_test.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
Due: api

fix(lesson-api): fix small
  api/internal/lesson/database/shift_test.go
Due: api

feat(lesson-api): update list shifts api request (#217)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift_test.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
Due: api

feat: 開講科目設定画面の作成
  web/teacher/src/pages/settings/subjects.vue
Due: teacher-web

Add: added update password page
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/types/form/teacher.ts
Due: teacher-web

chore: move student files into teacher dir
  api/internal/gateway/student/v1/handler/student.go
  api/internal/gateway/student/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/response/student.go
Due: api

feat(gateway): insert getStudentSubject
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
Due: api

feat(gateway): implement list submissions api
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
Due: api

feat(gateway): implement list submissions api (#221)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
Due: api

feat(gateway): add GetStudent Mock (#218)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/response/student.go
Due: api

feat: 教科の色の選択に紫チックな色を追加
  web/teacher/src/pages/settings/subjects.vue
Due: teacher-web

feat(lesson-api): alter column student submission table
  api/hack/database-migrate/main.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_submission.proto
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  infra/mysql/schema/2022012401-lessons-alter-column-to-student-submissions.sql
Due: api

fix(lesson-api): fix lint
  api/internal/lesson/api/student_shift.go
Due: api

fix(lesson-api): fix small
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
Due: api

feat(lesson-api): alter column student submission table (#222)
  api/hack/database-migrate/main.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_submission.proto
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  infra/mysql/schema/2022012401-lessons-alter-column-to-student-submissions.sql
Due: api

feat(gateway): add response field to get student shift api
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
Due: api

fix(gateway): update swagger
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: none

fix(gateway): fix small
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
Due: api

feat(gateway): add response field to get student shift api (#223)
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

Feat/frontend/subjects (#219)
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/subjects.vue
Due: teacher-web

feat(gateway): add CreateStudent specification
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Due: none

fix(lesson-api): fix null pointer in get subumission api
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/teacher_shift.go
Due: api

feat(gateway): add CreateStudent mock
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
Due: api

fix(lint):change receiver name
  api/internal/gateway/teacher/v1/entity/student.go
Due: api

Add: added update password page (#220)
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/types/form/teacher.ts
Due: teacher-web

fix(lesson-api): fix null pointer in get subumission api (#225)
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/teacher_shift.go
Due: api

Update docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
Due: none

Update docs/swagger/teacher/paths/v1/students/index.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Due: none

fix: add path
  docs/swagger/teacher/openapi.yaml
Due: none

test: add UserSchoolType test
  api/internal/gateway/teacher/v1/entity/student_test.go
Due: api

feat(gateway): add CreateStudent mock (#226)
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Due: api

feat(lesson-api): update list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/entity/lesson.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): implement list lessons api
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/response/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Due: api

Feat/lesson api/list lessons api (#227)
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/response/lesson.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/entity/lesson.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Due: api
