Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

fix(gateway): fix list lessons api (#303)
  api/internal/gateway/student/v1/handler/lesson.go
  api/internal/gateway/student/v1/handler/lesson_test.go
Due: api

fix(messenger-api): fix health check timeout
  api/internal/messenger/cmd/notifier/exec.go
  api/internal/messenger/notifier/notifier.go
  api/internal/messenger/notifier/notifier_test.go
  api/pkg/pubsub/puller_test.go
  infra/kubernetes/stg/default/messenger-notifier.deployment.yaml.temp
Due: api

fix(web/student): eliminate duplicate processing
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/store/common.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/store/common.test.ts
Due: teacher-web

fix(messenger-api): fix health check timeout (#306)
  api/internal/messenger/cmd/notifier/exec.go
  api/internal/messenger/notifier/notifier.go
  api/internal/messenger/notifier/notifier_test.go
  api/pkg/pubsub/puller_test.go
  infra/kubernetes/stg/default/messenger-notifier.deployment.yaml.temp
Due: api

chore: ignore tfstate, tfvars
  .gitignore
Due: none

feat: 生徒側の授業希望のカスタム設定画面のUIを作成 (#301)
  web/student/src/pages/settings/class.vue
Due: teacher-web

Feature/student submission (#304)
  web/student/src/components/organisms/TheSubmissionList.vue
  web/student/src/components/templates/TheSubmissionDetail.vue
  web/student/src/pages/submissions/_id.vue
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/submission.ts
  web/student/src/types/store/submission.ts
Due: teacher-web

fix(web/student): eliminate duplicate processing (#307)
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/store/common.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/store/common.test.ts
Due: teacher-web

feat(web/student): add lessons in submission detail page
  web/student/src/components/atoms/TheSelectWithSlot.vue
  web/student/src/components/organisms/TheSubmissionLessonList.vue
  web/student/src/components/organisms/TheSubmissionShiftList.vue
  web/student/src/components/templates/TheSubmissionDetail.vue
  web/student/src/lib/convert.ts
  web/student/src/pages/submissions/_id.vue
  web/student/src/store/auth.ts
  web/student/src/store/submission.ts
  web/student/src/types/form/index.ts
  web/student/src/types/form/submission.ts
  web/student/src/types/store/auth.ts
Due: teacher-web

fix(web/student): fix small
  web/student/test/components/atoms/TheTextField.test.ts
  web/student/test/store/auth.test.ts
Due: teacher-web

fix(web/student): fix small
  web/student/src/components/atoms/TheTextField.vue
Due: teacher-web

fix(web/student): fix build error
  web/student/src/components/organisms/TheSubmissionLessonList.vue
  web/student/src/components/templates/TheSubmissionDetail.vue
  web/student/src/pages/submissions/_id.vue
Due: teacher-web

fix(web/student): fix typo
  web/student/src/pages/submissions/_id.vue
Due: teacher-web

feat(web/student): add lessons in submission detail page (#309)
  web/student/src/components/atoms/TheSelectWithSlot.vue
  web/student/src/components/organisms/TheSubmissionLessonList.vue
  web/student/src/components/organisms/TheSubmissionShiftList.vue
  web/student/src/components/templates/TheSubmissionDetail.vue
  web/student/src/lib/convert.ts
  web/student/src/pages/submissions/_id.vue
  web/student/src/store/auth.ts
  web/student/src/store/submission.ts
  web/student/src/types/form/index.ts
  web/student/src/types/form/submission.ts
  web/student/src/types/store/auth.ts
  web/student/test/components/atoms/TheTextField.test.ts
  web/student/test/store/auth.test.ts
Due: teacher-web

fix(gateway): fix error handling
  api/internal/gateway/student/v1/handler/submission.go
Due: api

fix(gateway): fix error handling
  .github/workflows/cd-api-gateway-for-main.yaml
  api/internal/gateway/student/v1/handler/submission.go
  api/internal/gateway/student/v1/handler/submission_test.go
Due: api

fix(gateway): fix typo
  api/internal/gateway/student/v1/response/submission.go
Due: api

feat(web/student): implement custom schedule page
  api/internal/gateway/student/v1/handler/submission.go
  web/student/src/components/molecules/TheSettingUserFormItem.vue
  web/student/src/components/organisms/TheSubmissionScheduleList.vue
  web/student/src/components/organisms/TheSubmissionShiftList.vue
  web/student/src/components/templates/TheSettingClass.vue
  web/student/src/components/templates/TheSettingTop.vue
  web/student/src/layouts/default.vue
  web/student/src/pages/settings/class.vue
  web/student/src/pages/settings/index.vue
  web/student/src/plugins/dayjs.ts
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/submission.ts
  web/student/src/types/store/submission.ts
Due: api, teacher-web

fix(web/student): fix small
  web/student/src/components/molecules/TheSettingUserFormItem.vue
  web/student/src/components/organisms/TheSubmissionScheduleList.vue
  web/student/src/components/templates/TheSettingClass.vue
  web/student/src/layouts/default.vue
Due: teacher-web

fix(web/student): fix build error
  web/student/src/components/molecules/TheSettingUserFormItem.vue
  web/student/src/components/organisms/TheSubmissionScheduleList.vue
  web/student/src/layouts/default.vue
  web/student/src/pages/settings/class.vue
Due: teacher-web

fix(web/student): fix build error
  web/student/src/pages/settings/class.vue
Due: teacher-web

feat(web/student): implement custom schedule page (#311)
  api/internal/gateway/student/v1/handler/submission.go
  web/student/src/components/molecules/TheSettingUserFormItem.vue
  web/student/src/components/organisms/TheSubmissionScheduleList.vue
  web/student/src/components/organisms/TheSubmissionShiftList.vue
  web/student/src/components/templates/TheSettingClass.vue
  web/student/src/components/templates/TheSettingTop.vue
  web/student/src/layouts/default.vue
  web/student/src/pages/settings/class.vue
  web/student/src/pages/settings/index.vue
  web/student/src/plugins/dayjs.ts
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/submission.ts
  web/student/src/types/store/submission.ts
Due: api, teacher-web

feat(lesson-api): add debug log
  api/internal/lesson/entity/shift.go
Due: api

feat(lesson-api): remove debug log
  api/internal/lesson/entity/shift.go
Due: api

feat(mysql): alter column to shifts
  infra/mysql/schema/2022021401-lessons-alter-column-to-shifts.sql
Due: none

feat(mysql): alter column to shifts (#312)
  infra/mysql/schema/2022021401-lessons-alter-column-to-shifts.sql
Due: none

feat(kubernetes): create helm templates
  infra/helm/.gitignore
  infra/helm/README.md
  infra/helm/gateway/.helmignore
  infra/helm/gateway/Chart.yaml
  infra/helm/gateway/templates/_helpers.tpl
  infra/helm/gateway/templates/deployment.yaml
  infra/helm/gateway/templates/service.yaml
  infra/helm/gateway/values.yaml
  infra/helm/service/.helmignore
  infra/helm/service/Chart.yaml
  infra/helm/service/templates/_helpers.tpl
  infra/helm/service/templates/deployment.yaml
  infra/helm/service/templates/service.yaml
  infra/helm/service/values.yaml
  infra/kubernetes/.gitignore
  infra/kubernetes/dev/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/dev/default/classroom-api.secret.yaml.temp
  infra/kubernetes/dev/default/classroom-api.service.yaml
  infra/kubernetes/dev/default/common.ingress.yaml
  infra/kubernetes/dev/default/common.secret.yaml.temp
  infra/kubernetes/dev/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/dev/default/lesson-api.secret.yaml.temp
  infra/kubernetes/dev/default/lesson-api.service.yaml
  infra/kubernetes/dev/default/messenger-api.deployment.yaml.temp
  infra/kubernetes/dev/default/messenger-api.secret.yaml.temp
  infra/kubernetes/dev/default/messenger-api.service.yaml
  infra/kubernetes/dev/default/messenger-notifier.deployment.yaml.temp
  infra/kubernetes/dev/default/messenger-notifier.secret.yaml.temp
  infra/kubernetes/dev/default/student-gateway.deployment.yaml.temp
  infra/kubernetes/dev/default/student-gateway.service.yaml
  infra/kubernetes/dev/default/teacher-gateway.deployment.yaml.temp
  infra/kubernetes/dev/default/teacher-gateway.service.yaml
  infra/kubernetes/dev/default/user-api.deployment.yaml.temp
  infra/kubernetes/dev/default/user-api.secret.yaml.temp
  infra/kubernetes/dev/default/user-api.service.yaml
  infra/kubernetes/stg/ingress.yaml
  infra/kubernetes/stg/secret.database.yaml.temp
  infra/kubernetes/stg/secret.gcp-credentials.yaml.temp
  infra/kubernetes/stg/secret.sendgrid.yaml.temp
Due: none

feat(docs): update README.md
  infra/helm/README.md
Due: none

Update infra/terraform/sql/cloud_sql.tf
  infra/terraform/sql/cloud_sql.tf
Due: none

fix: delete examples, secondary_ranges
  infra/terraform/examples/main.tf
  infra/terraform/main.tf
Due: none

fix: change node's machine_type
  infra/terraform/gke/gke_cluster.tf
Due: none

feat: add root, user password
  infra/terraform/sql/cloud_sql.tf
  infra/terraform/variables.tf
Due: none

fix: refs snd style
  infra/terraform/main.tf
  infra/terraform/sql/cloud_sql.tf
Due: none

feat(*): setup workflow
  .github/labeler.yaml
  .github/workflows/ci-infra-for-all.yaml
  test/load/.gitignore
  test/load/2022021001/index.js
  test/load/2022021001/package.json
  test/load/2022021001/yarn.lock
  test/load/README.md
Due: none

fix(workflow): fix workflows
  .github/workflows/ci-infra-for-all.yaml
Due: none

Path conditions:
  api: any of: api/
  teacher-web: any of: web/
