Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

Add: added student list
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
Due: teacher-web

feat: 定休日/コマ/ブース 設定の編集機能の実装 (#274)
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/store/classroom.ts
  web/teacher/src/types/api/v1/classroom.ts
  web/teacher/src/types/store/classroom.ts
  web/teacher/test/store/classroom.test.ts
Due: teacher-web

Fix: fixed test code error
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/form/student.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherNewForm.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix: gが抜けていたので修正 (#275)
  web/teacher/src/pages/settings/subjects.vue
Due: teacher-web

[Student] Implementation list show and create of student (#276)
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheStudentNewForm.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheStudentNew.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/pages/users/students/new.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/student.ts
  web/teacher/src/types/props/student.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherNewForm.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix(web/teacher): fix lessons dialog (#272)
  web/teacher/src/store/shift.ts
Due: teacher-web

feat(web/teacher): add subject name field (#271)
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

fix(gateway): fix update student subjects (#270)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
Due: api

fix(messenger-api): fix small
  api/internal/messenger/mailer/sender_test.go
Due: api

fix(messenger-api): fix small
  api/internal/messenger/mailer/builder_test.go
Due: api

fix(messenger-api): fix small
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/messenger/notifier/notifier.go
  api/pkg/pubsub/puller.go
Due: api

fix(messenger-api): fix small
  .github/workflows/cd-api-messenger-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  api/internal/messenger/notifier/notifier.go
Due: api

fix(messenger-api): fix small
  .github/workflows/ci-backend-for-all.yaml
  api/internal/messenger/notifier/notifier_test.go
Due: api

fix(web/student): fix disable dark mode
  web/student/nuxt.config.js
Due: teacher-web

fix(web/student): fix disable dark mode (#278)
  web/student/nuxt.config.js
Due: teacher-web

feat(web/teacher): implement api client for update student
  web/teacher/src/components/organisms/TheStudentEditCard.vue
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/student.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

feat(web/teacher): implement api client for update student (#280)
  web/teacher/src/components/organisms/TheStudentEditCard.vue
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/student.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/store/user.test.ts
Due: teacher-web

refactor(web/teacher): refactor shift dialog
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

fix(web/teacher): fix update auth page
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/auth.ts
Due: teacher-web

fix(web/teacher): fix lesson list layout
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
Due: teacher-web

fix(lesson-api): fix notify lesson decided
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
Due: api

chore(*): udpate start container commands
  Makefile
Due: none

refactor(web/teacher): refactor shift dialog (#281)
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Due: teacher-web

fix(web/teacher): fix update auth page (#282)
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/auth.ts
Due: teacher-web

fix(web/teacher): fix lesson list layout (#283)
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
Due: teacher-web

fix(lesson-api): fix notify lesson decided (#284)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
Due: api

chore(*): udpate start container commands (#285)
  Makefile
Due: none

feat(kubernetes): setup kubernetes manifests
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/cd-api-gateway-for-main.yaml
  .github/workflows/cd-api-lesson-for-main.yaml
  .github/workflows/cd-api-messenger-for-main.yaml
  .github/workflows/cd-api-user-for-main.yaml
  infra/docker/api/messenger/notifier/Dockerfile
  infra/docker/api/messenger/server/Dockerfile
  infra/kubernetes/.gitignore
  infra/kubernetes/Makefile
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/classroom-api.secret.yaml.temp
  infra/kubernetes/stg/default/classroom-api.service.yaml
  infra/kubernetes/stg/default/common.ingress.yaml
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/lesson-api.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.service.yaml
  infra/kubernetes/stg/default/messenger-api.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-api.secret.yaml.temp
  infra/kubernetes/stg/default/messenger-api.service.yaml
  infra/kubernetes/stg/default/messenger-notifier.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-notifier.secret.yaml.temp
  infra/kubernetes/stg/default/student-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/student-gateway.service.yaml
  infra/kubernetes/stg/default/teacher-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/teacher-gateway.service.yaml
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.secret.yaml.temp
  infra/kubernetes/stg/default/user-api.service.yaml
Due: none

feat(kubernetes): setup kubernetes manifests (#286)
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/cd-api-gateway-for-main.yaml
  .github/workflows/cd-api-lesson-for-main.yaml
  .github/workflows/cd-api-messenger-for-main.yaml
  .github/workflows/cd-api-user-for-main.yaml
  infra/docker/api/messenger/notifier/Dockerfile
  infra/docker/api/messenger/server/Dockerfile
  infra/kubernetes/.gitignore
  infra/kubernetes/Makefile
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/classroom-api.secret.yaml.temp
  infra/kubernetes/stg/default/classroom-api.service.yaml
  infra/kubernetes/stg/default/common.ingress.yaml
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/lesson-api.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.service.yaml
  infra/kubernetes/stg/default/messenger-api.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-api.secret.yaml.temp
  infra/kubernetes/stg/default/messenger-api.service.yaml
  infra/kubernetes/stg/default/messenger-notifier.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-notifier.secret.yaml.temp
  infra/kubernetes/stg/default/student-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/student-gateway.service.yaml
  infra/kubernetes/stg/default/teacher-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/teacher-gateway.service.yaml
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.secret.yaml.temp
  infra/kubernetes/stg/default/user-api.service.yaml
Due: none

feat(api): update execute config
  api/config/classroom/server/config.go
  api/config/gateway/student/config.go
  api/config/gateway/teacher/config.go
  api/config/lesson/server/config.go
  api/config/user/server/config.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/user/cmd/server/exec.go
Due: api

feat(api): update execute config (#287)
  api/config/classroom/server/config.go
  api/config/gateway/student/config.go
  api/config/gateway/teacher/config.go
  api/config/lesson/server/config.go
  api/config/user/server/config.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/user/cmd/server/exec.go
Due: api

fix(api): add error log for execute
  api/cmd/classroom/server/main.go
  api/cmd/gateway/student/main.go
  api/cmd/gateway/teacher/main.go
  api/cmd/lesson/server/main.go
  api/cmd/messenger/notifier/main.go
  api/cmd/messenger/server/main.go
  api/cmd/user/server/main.go
Due: api

fix(kubernetes): fix api config
  api/config/user/server/config.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registy.go
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
Due: api

fix(kubernetes): fix api config (#288)
  api/config/user/server/config.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registy.go
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
Due: api

Add: added student submission list page
  web/student/src/components/templates/TheSubmissionTop.vue
  web/student/src/pages/submissions/index.vue
  web/student/src/plugins/store-accessor.ts
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/index.ts
  web/student/src/types/api/v1/submission.ts
  web/student/src/types/store/common.ts
  web/student/src/types/store/index.ts
  web/student/src/types/store/submission.ts
Due: teacher-web

chore(web/teacher): remove firebase cache
  web/teacher/.firebase/hosting.ZGlzdA.cache
Due: teacher-web

Fix/infra/fix manifests (#290)
  web/teacher/.firebase/hosting.ZGlzdA.cache
Due: teacher-web

Refactor: refactored シフト -> 授業
  web/student/src/components/templates/TheSubmissionTop.vue
Due: teacher-web

Path conditions:
  api: any of: api/
  teacher-web: any of: web/
