Repository calmato/shs-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, teacher-web

.codecov.yaml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      frontend:
        flags:
        - web
      backend:
        flags:
        - api

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
flags:
  api:
    paths:
    - api/
    carryforward: true
  teacher-web:
    paths:
    - web/
    carryforward: true

fix(web/teacher): fix edit schedule logic
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/store/classroom.ts
Due: teacher-web

fix(web/teacher): fix edit schedule logic (#314)
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/store/classroom.ts
Due: teacher-web

Fix: fixed middleware
  vetur.config.js
  web/teacher/src/middleware/authenticated.ts
Due: teacher-web

fix(web/teacher): fix middleware logic
  web/teacher/src/middleware/authenticated.ts
Due: teacher-web

feat(web/student): update middleware logic
  web/student/src/middleware/authenticated.ts
  web/student/src/store/common.ts
  web/student/src/types/store/common.ts
Due: teacher-web

fix: ロケールの設定をjaに変更
  web/student/nuxt.config.js
  web/teacher/nuxt.config.js
Due: teacher-web

feat(web/student): update middleware logic (#316)
  web/student/src/middleware/authenticated.ts
  web/student/src/store/common.ts
  web/student/src/types/store/common.ts
Due: teacher-web

fix: 記述位置の変更
  web/student/nuxt.config.js
  web/teacher/nuxt.config.js
Due: teacher-web

fix(web): hidden hamburger menu in signin
  web/student/src/components/organisms/TheHeader.vue
  web/student/src/layouts/auth.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/layouts/auth.vue
Due: teacher-web

feat(gateway): add field to list shifts response
  api/internal/gateway/entity/teacher_submission.go
  api/internal/gateway/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Due: api

feat(docs): add swagger
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: none

feat(gateway): add field to list shifts response (#326)
  api/internal/gateway/entity/teacher_submission.go
  api/internal/gateway/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Due: api

feat(lesson-api): implement list teacher submissions by teacher ids
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(web/teacher): add submission flag
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
Due: teacher-web

fix(lesson-api): fix small
  api/internal/lesson/database/teacher_submission_test.go
Due: api

fix(web/teacher): fix small
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

feat(lesson-api): implement list teacher submissions by teacher ids (#327)
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Due: api

feat(gateway): update list shifts api
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Due: api

fix(web): hidden hamburger menu in signin (#325)
  web/student/src/components/organisms/TheHeader.vue
  web/student/src/layouts/auth.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/layouts/auth.vue
Due: teacher-web

feat(web/teacher): add submission flag (#328)
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Due: teacher-web

feat(gateway): update list shifts api (#329)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Due: api

fix: add terraform-provider into gitignore
  .gitignore
  infra/terraform/.gitignore
Due: none

feat: 「閉じる」ボタンの追加
  web/teacher/src/pages/settings/subjects.vue
Due: teacher-web

feat(web/teacher): add remaining total in student submission
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/store/shift.ts
Due: teacher-web

feat: 「閉じる」ボタンの追加 (#331)
  web/teacher/src/pages/settings/subjects.vue
Due: teacher-web

feat(web/teacher): add remaining total in student submission (#332)
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/store/shift.ts
Due: teacher-web

chore: add gitignore and change name
  infra/terraform/.gitignore
  infra/terraform/main.tf
  infra/terraform/sql/cloud_sql.tf
  vetur.config.js
Due: none

infra: add terraform
  infra/terraform/examples/main.tf
Due: none

chore: ignore tfstate, tfvars
  .gitignore
Due: none

fix: delete examples, secondary_ranges
  infra/terraform/examples/main.tf
Due: none

fix: add terraform-provider into gitignore
  .gitignore
Due: none

fix: add Binary file into gitignore (#330)
  infra/terraform/.gitignore
  infra/terraform/main.tf
  infra/terraform/sql/cloud_sql.tf
  vetur.config.js
Due: none

feat: add swagger command for generate typescript definitions
  docker-compose.yaml
  docs/swagger/Makefile
  docs/swagger/package.json
  web/student/src/types/api/__tmp__/api.ts
  web/student/src/types/api/__tmp__/base.ts
  web/student/src/types/api/__tmp__/common.ts
  web/student/src/types/api/__tmp__/configuration.ts
  web/student/src/types/api/__tmp__/index.ts
  web/teacher/src/types/api/__tmp__/api.ts
  web/teacher/src/types/api/__tmp__/base.ts
  web/teacher/src/types/api/__tmp__/common.ts
  web/teacher/src/types/api/__tmp__/configuration.ts
  web/teacher/src/types/api/__tmp__/index.ts
Due: teacher-web

fix: メニューの表示がずれないように修正
  web/student/src/components/organisms/TheHeader.vue
  web/student/src/components/organisms/TheMenu.vue
  web/student/src/layouts/default.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheMenu.vue
  web/teacher/src/layouts/default.vue
Due: teacher-web

fix: メニューの表示がずれないように修正 (#334)
  web/student/src/components/organisms/TheHeader.vue
  web/student/src/components/organisms/TheMenu.vue
  web/student/src/layouts/default.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheMenu.vue
  web/teacher/src/layouts/default.vue
Due: teacher-web
